<%- include("../../includes/head", {pageTitle: "Single Product"}) %>
<link rel="stylesheet" href="/styles/products.css">
<script></script>
</head>

<body>
    <%- include('../../includes/header') %>
    <main id="product-details">
        <header>
            <img src="" alt="/">
            <div id="product-info">
                <h2>Product Title</h2>
                <p>Price</p>
                <button class="btn">Add to cart</button>
            </div>
        </header>
        <p id="product-description">Description</p>
    </main>
<%- include("../../includes/footer") %> 