<article class="product-item">
    <img src="/" alt="/" />
    <div class="product-item-content">
      <h2>Product Title</h2>
      <a class="btn btn-alt" href="/products/:id">View Details</a>
    </div>
</article>
  