<article class="cart-item">
    <div class="cart-item-info">
        <p>
            <span class="cart-products-price">Total Price</span>
            <span class="cart-product-price">product price</span>
        </p>
    </div>  
    <form class="cart-item-management">
        <input type="number" id="" name="" value="" >
        <button class="btn">Update</button>
    </form> 
</article>