<%- include("../../includes/head", {pageTitle: "order"}) %>
<link rel="stylesheet" href="/styles/orders.css">
<script></script>
</head>

<body>
    <%- include('../../includes/header') %>
    <main>
        <h1>Your order</h1>
        <ul>
            <li>
                <%- include("single-order")  %> 
            </li>
        </ul>
    </main>
    <%- include("../../includes/footer") %> 